/* global coding */
* {
    margin: 5px;
    border: 10px;
}

html {
    background-color: rgb(99, 99, 99);
}

/* body coding */
body {
    background-color
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.box {
    background-color: rgb(116, 6, 6);
    padding-top: 30px;
    padding: 30px;
}

.box h2 {
    margin-bottom: 25px;
    text-align: center;
    color: black;
    font-size: 32px;
}

/* button coding */
button {
    min-width: 150px;
    min-height: 50px;
}

/* slider coding */
input[type=range]{
    -webkit-appearance: none;
}

.slider {
    width: 25%;
    height: 20px;
    border-radius: 10px;
    outline: none;
    -webkit-transition: .5s;
    background: white;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slide-container label {
    font-weight: bolder;
}

/* generated password coding */
form {
    display: block;
    margin-top: 0;
}

.generated-password-form {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.generated-password {
    border-radius: 10px;
    border: none;
    outline: none;
}

[type=text] {
    -webkit-appearance: none;
    appearance: none;
    min-width: 100%;
    height: 40px;
    font-size: 32px;
    user-select: all;
}

/* checkbox coding */
.checkbox {
    display: list-item;
    list-style-type: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    float: right;
    max-width: 170px;
}
.checkbox input {
    cursor: pointer;
    height: 20px;
    width: 20px;
}